@media ( max-width:480px )
  body
    font-size: 16px

  .heading
    font-size: 60px
  .btn-fb
    font-size: 23px

  .first__title-second
    margin-top: -10px
  .first-slider__slide
    width: 200px !important

  .about__title-second
    margin-top: -10px
  .benefits__arrow
    height: 144px
    width: 82px
  .benefits__title-second
    margin-top: -10px

  .reviews__title::after
    height: 1023px
  .reviews__text
    font-size: 36px
  .reviews__message
    width: 100%
  .reviews__avatar
    padding-left: 0

  .order__list
    padding: 30px
  .order__title
    font-size: 36px
  .order__head span
    margin-top: -10px

  .contact__link
    padding-top: 5px
