@media ( max-width:576px )
  .heading
    font-size: 85px

  .about__title-second
    margin-top: -15px

  .benefits__title-second
    margin-top: -15px

  .order__head span
    margin-top: -15px

  .contact__head
    width: 75%
  .contact__info
    width: 100%
