.contact
  background-color: $grey
  padding-top: 57px
  padding-bottom: 43px
  &__container
    display: flex
    align-items: flex-start
    justify-content: space-between
  &__head
    line-height: 0.88
    color: $bgc
    word-wrap: break-word
    width: 626px
    margin-right: 147px
  &__info
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 364px
  &__links
    display: flex
    flex-direction: column
    color: $bgc
  &__data
    letter-spacing: 0.05em
    text-transform: none
    &:not(:last-child)
      margin-bottom: 10px
  &__buttons
    &-btn
      display: inline-block
      color: $gold
      border-color: $gold
      padding: 9px 67px
      text-align: center
      width: 300px
      &:first-child
        margin-bottom: 50px
