@media ( min-width: 992px )
  .btn:hover
    background-color: rgba($yellow, 0.8)
    color: $bgc
    border: 3px solid rgba($yellow, 0.8)
  .btn-light:hover
    background-color: $gold
    color: $white
    border: 3px solid $gold
