html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Viaoda";
  src: url("../fonts/ViaodaLibre-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
}

.heading {
  font-family: "Viaoda", sans-serif;
  font-weight: 400;
  font-size: 220px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1C1C1C;
  color: #F6F6F6;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.logo--header {
  height: 50px;
}

.heading {
  text-transform: uppercase;
  color: #FDE4C3;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  border: 3px solid #FDE4C3;
  padding: 9px 92px;
  color: #FDE4C3;
  text-transform: uppercase;
}

.btn-fb {
  text-transform: lowercase;
  font-size: 27px;
  line-height: 32px;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.menu {
  margin-top: 50px;
  margin-bottom: 33px;
  padding-left: 303px;
  padding-right: 303px;
}
.menu__body {
  margin-top: -5px;
}
@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 150px 30px 50px 70px;
    overflow: auto;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 116px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    z-index: 2;
  }
}
.menu__body._active {
  right: 0;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.menu__item {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #FDE4C3;
  text-transform: uppercase;
  margin: 0 3px;
  padding: 5px 0;
  text-transform: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.menu__item:not(:last-child) {
  margin-right: 39px;
}
@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 18px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    width: 32px;
    height: 29px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 5;
    margin-left: auto;
  }
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px #B69556;
  box-shadow: 1px 1px 1px #B69556;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu__icon._active span:first-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__icon._active span:last-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.first {
  position: relative;
  padding-top: 41px;
}
.first::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg/header-waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -317px -35px;
  z-index: 0;
}
.first::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.7);
  z-index: 1;
}
.first__title {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 67px;
}
.first__title-second {
  line-height: 1;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: -40px;
}
.first__title-subtitle {
  position: absolute;
  top: 175px;
  right: 9px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #FDE4C3;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
}
.first__buttons {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 120px;
}
.first__buttons-btn:first-child {
  margin-right: 90px;
}
.first__subtitle {
  position: relative;
  z-index: 2;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #FDE4C3;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
}
.first__subtitle::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -65px;
  width: 50px;
  height: 1px;
  background-color: #FDE4C3;
}

.first-slider {
  position: relative;
  height: 500px;
  background-color: #000000;
  color: #F6F6F6;
  margin-bottom: 18px;
}
.first-slider__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.first-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto !important;
}
.first-slider__img {
  -o-object-fit: cover;
  object-fit: cover;
}
.first-slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22px;
  width: 25px;
  cursor: pointer;
  z-index: 12;
}
.first-slider__btn-prev {
  left: calc(50% - 553px);
}
.first-slider__btn-fill {
  width: 25px;
  height: 22px;
  fill: #B2B2B2;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: fill 0.3 ease-in-out;
  -o-transition: fill 0.3 ease-in-out;
  transition: fill 0.3 ease-in-out;
}
.first-slider__btn-next {
  right: calc(50% - 553px);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.about {
  padding-top: 100px;
  padding-bottom: 340px;
}
.about__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about__title::after {
  position: absolute;
  content: "";
  top: 42px;
  right: 28px;
  width: 300px;
  height: 300px;
  background: rgba(182, 149, 86, 0.7);
  z-index: 1;
  -webkit-filter: blur(110px);
  filter: blur(110px);
}
.about__title::before {
  position: absolute;
  content: "";
  top: -221px;
  left: -408px;
  width: 960px;
  height: 1029px;
  z-index: -1;
  background-image: url("../images/bg/about-ellipse.svg");
  background-repeat: no-repeat;
}
.about__title-second {
  line-height: 1;
  margin-top: -40px;
  margin-left: 7px;
}
.about__descr {
  width: 766px;
  margin-left: auto;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #F6F6F6;
  margin-top: -31px;
}
.about__descr p {
  margin-bottom: 10px;
}

.benefits {
  position: relative;
  background-color: #F6F6F6;
  padding-bottom: 40px;
}
.benefits::before {
  position: absolute;
  content: "";
  top: -218px;
  left: 49%;
  background: #F6F6F6;
  border-radius: 100%;
  width: 2787px;
  height: 2787px;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.benefits__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #000000;
  margin-top: -40px;
  margin-left: 8px;
  margin-bottom: 46px;
}
.benefits__title-second {
  margin-top: -38px;
  margin-right: 40px;
  line-height: 1;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.benefits__descr {
  position: relative;
}
.benefits__descr::before {
  position: absolute;
  content: "";
  bottom: 30px;
  left: 106px;
  width: 300px;
  height: 300px;
  background: rgba(182, 149, 86, 0.7);
  z-index: 1;
  -webkit-filter: blur(110px);
  filter: blur(110px);
}
.benefits__descr::after {
  position: absolute;
  content: "";
  bottom: -516px;
  left: -320px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("../images/bg/benefits-circles.svg");
  background-size: 1146px;
  background-repeat: no-repeat;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 59px;
}
.benefits__item:nth-last-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.benefits__item:nth-last-child(2):last-child {
  margin-bottom: 0;
}
.benefits__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding-left: 28px;
}
.benefits__arrow {
  height: 202px;
  width: 128px;
  margin-top: -29px;
}
.benefits-button {
  color: #B69556;
  border-color: #B69556;
}
.benefits__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 87px;
}
.benefits__info-second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: 50px;
}
.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #1C1C1C;
  border-radius: 300px;
  width: 250px;
  height: 350px;
  margin-right: 20px;
}
.benefits__icon-second {
  margin-left: 20px;
}
.benefits__icon-second::before {
  left: 20px;
}
.benefits__icon-img {
  width: 146px;
  height: 146px;
}
.benefits__text {
  position: relative;
  width: 228px;
  letter-spacing: 0.05em;
  color: #000000;
}
.benefits__text::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: -37px;
  height: 2px;
  width: 109%;
  background-color: #B69556;
  z-index: -1;
}
.benefits__text-second::before {
  left: 2px;
}

.reviews {
  position: relative;
  z-index: 3;
  padding-top: 148px;
  padding-bottom: 156px;
  background-color: #1C1C1C;
}
.reviews__title {
  position: relative;
  margin-bottom: 43px;
  z-index: 2;
}
.reviews__title::before {
  position: absolute;
  content: "";
  top: 0px;
  left: -415px;
  width: 1945px;
  height: 1197px;
  background-image: url(../images/bg/header-waves.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -9px -118px;
  z-index: -2;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.reviews__title::after {
  position: absolute;
  content: "";
  top: 0;
  left: -415px;
  right: 0;
  bottom: 0;
  width: 1960px;
  height: 1190px;
  background-color: rgba(28, 28, 28, 0.7);
  z-index: -1;
}
.reviews__sliders {
  position: relative;
  z-index: 5;
  height: 775px;
}
.reviews__slide {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.reviews__slide-active {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 500px;
}
.reviews__slide-active .reviews__slide {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.reviews__slide-top, .reviews__slide-bottom {
  position: absolute;
  left: 0;
  height: 350px;
  z-index: -1;
}
.reviews__slide-top .reviews__avatar, .reviews__slide-bottom .reviews__avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  height: 350px;
  width: 250px;
}
.reviews__slide-top .reviews__author, .reviews__slide-bottom .reviews__author {
  padding-left: 7px;
}
.reviews__slide-top .reviews__author::before, .reviews__slide-bottom .reviews__author::before {
  left: -106px;
}
.reviews__slide-top {
  top: 0;
}
.reviews__slide-top .reviews__message {
  margin-top: 54px;
}
.reviews__slide-bottom {
  bottom: 0;
}
.reviews__slide-bottom .reviews__message {
  margin-bottom: 54px;
}
.reviews__slide-bottom .reviews__slide {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.reviews__avatar {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;
  width: 350px;
  height: 500px;
  margin-right: 47px;
  z-index: 2;
}
.reviews__message {
  width: 685px;
}
.reviews__text {
  padding-right: 56px;
  color: #F6F6F6;
  font-family: "Viaoda";
  font-weight: 400;
  font-size: 70px;
  line-height: 0.9;
  letter-spacing: 0.05em;
  margin-bottom: 27px;
}
.reviews__author {
  position: relative;
  letter-spacing: 0.05em;
  padding-left: 56px;
  color: #B69556;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
}
.reviews__author::before {
  position: absolute;
  content: "";
  bottom: 13px;
  left: -56px;
  height: 2px;
  width: 109px;
  background-color: #B69556;
}
.reviews__author span {
  color: #FFFFFF;
}
.reviews__btn {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -100px;
}
.reviews__arrow {
  width: 202px;
  height: 128px;
  margin-right: 60px;
}
.reviews__arrow img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.order {
  padding-bottom: 95px;
}
.order__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 152px;
}
.order__head span {
  margin-top: -32px;
  margin-right: -9px;
}
.order__button {
  margin-top: -83px;
  margin-bottom: 122px;
}
.order-button {
  padding: 16px 70px;
}
.order__list {
  border: 2px solid #B69556;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  counter-reset: section;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.order__list::before {
  position: absolute;
  content: "";
  top: -135px;
  right: 54px;
  width: 300px;
  height: 300px;
  background: rgba(182, 149, 86, 0.7);
  z-index: 1;
  -webkit-filter: blur(110px);
  filter: blur(110px);
}
.order__item {
  position: relative;
  width: 531px;
}
.order__item::before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Viaoda";
  font-weight: 400;
  font-size: 50px;
  line-height: 0.9;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 70px;
  height: 70px;
  border: 2px solid #B69556;
  border-radius: 100%;
  padding: 12px 22px;
  counter-increment: section;
  content: counter(section);
}
.order__item:nth-child(-n+2) {
  margin-bottom: 50px;
}
.order__item:nth-child(even) {
  margin-right: -60px;
}
.order__title {
  font-family: "Viaoda";
  font-weight: 400;
  font-size: 70px;
  line-height: 0.9;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 11px;
  padding-top: 79px;
}
.order__text {
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.contact {
  background-color: #F6F6F6;
  padding-top: 57px;
  padding-bottom: 43px;
}
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact__head {
  line-height: 0.88;
  color: #1C1C1C;
  word-wrap: break-word;
  width: 626px;
  margin-right: 147px;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 364px;
}
.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #1C1C1C;
}
.contact__data {
  letter-spacing: 0.05em;
  text-transform: none;
}
.contact__data:not(:last-child) {
  margin-bottom: 10px;
}
.contact__buttons-btn {
  display: inline-block;
  color: #B69556;
  border-color: #B69556;
  padding: 9px 67px;
  text-align: center;
  width: 300px;
}
.contact__buttons-btn:first-child {
  margin-bottom: 50px;
}

.footer {
  background-color: #1C1C1C;
  padding-top: 34px;
  padding-bottom: 34px;
}
.footer__text {
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media (max-width: 1300px) {
  .benefits__title {
    margin-left: 0;
  }
  .order__head {
    margin-right: 100px;
  }
}
@media (max-width: 1200px) {
  .menu {
    padding-left: 150px;
    padding-right: 150px;
  }
  .heading {
    font-size: 179px;
  }
  .first__title-subtitle {
    bottom: 0;
    top: auto;
  }
  .about__descr {
    margin-top: 0;
  }
  .reviews__message {
    width: 500px;
  }
  .reviews__text {
    font-size: 55px;
  }
  .reviews__title::after {
    height: 1130px;
  }
  .order__list {
    padding: 35px;
  }
  .order__item {
    width: 48%;
  }
  .order__item:nth-child(even) {
    margin-right: 0;
  }
  .order__title {
    font-size: 58px;
  }
  .contact__head {
    margin-right: 40px;
    width: auto;
  }
  .contact__info {
    height: 315px;
  }
}
@media (max-width: 992px) {
  .btn {
    padding: 9px 69px;
  }
  .heading {
    font-size: 135px;
  }
  .menu {
    padding-left: 50px;
    padding-right: 50px;
  }
  .first__title-second {
    margin-top: -20px;
  }
  .about__title-second {
    margin-top: -20px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__descr {
    width: 100%;
  }
  .benefits__title-second {
    margin-top: -20px;
  }
  .benefits__info {
    padding-left: 5px;
  }
  .benefits__btn {
    padding-left: 5px;
  }
  .benefits__text {
    width: 175px;
  }
  .benefits__info-second {
    padding-right: 5px;
  }
  .reviews {
    padding-bottom: 86px;
  }
  .reviews__text {
    padding-right: 0;
    font-size: 48px;
  }
  .reviews__btn {
    margin-top: 0;
  }
  .reviews__title::after {
    height: 1060px;
  }
  .order__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .order__head {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 76px;
    margin-bottom: 20px;
  }
  .order__head span {
    margin-top: -20px;
  }
  .order__list {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 40px;
  }
  .order__list::before {
    top: 55px;
  }
  .order__button {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 0;
    margin-bottom: 0;
  }
  .order__title {
    font-size: 48px;
  }
  .order__item::before {
    font-size: 48px;
  }
  .contact__buttons-btn:first-child {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  body._lock {
    overflow: hidden;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
  }
  .menu {
    padding-left: 0;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */
